body[data-agent*=Mozilla]:not(body[data-agent*=Chrome]) header {
  background-color: rgba(0, 0, 0, 0.6);
}
body[data-agent*=Mozilla]:not(body[data-agent*=Chrome]) .card-body {
  background-color: rgba(0, 0, 0, 0.4);
}
body[data-agent*=Mozilla]:not(body[data-agent*=Chrome]) footer {
  background-color: rgba(0, 0, 0, 0.6);
}

.backgroundImage {
  background-image: url("./images/backgroundImage.webp");
  background-size: cover;
  background-position: center;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
header #logo {
  width: 230px;
}
header .btnHome {
  color: white;
  text-decoration: none;
}
header .btnHome:hover {
  box-shadow: 0 0 10px 1px white;
  color: white;
  text-decoration: none;
  border: white;
}
header .btnBasket {
  color: white;
  text-decoration: none;
}
header .btnBasket:hover {
  box-shadow: 0 0 10px 1px white;
  color: white;
  text-decoration: none;
  border: white;
}

.containerMain {
  position: relative;
  z-index: 500;
  padding: 50px;
}
.containerMain .container-fluid {
  padding: 0;
}
.containerMain .container-fluid img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.containerMain .container-fluid .card {
  border: none;
}
.containerMain .container-fluid .card .card-body {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  text-shadow: #323232 1px 0 10px;
}
.containerMain .container-fluid .card .card-body .userChoice option {
  background: black;
}
.containerMain .container-fluid .card .card-body .btnPickItem {
  border: white solid 1px;
  transition-duration: 1s;
  box-shadow: 0 0 2px 1px white;
}
.containerMain .container-fluid .card .card-body .btnPickItem[disabled] {
  border: transparent solid 1px;
  box-shadow: none;
}
.containerMain .container-fluid .card .card-body .choice {
  display: none;
}
.containerMain .container-fluid .card .card-body label {
  margin: 0;
}
.containerMain .container-fluid .choicePick {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.containerMain .container-fluid a {
  text-decoration: none;
  padding: 2px 5px;
  border-radius: 15px;
  border: transparent 1px solid;
}
.containerMain .container-fluid a:hover {
  box-shadow: 0 0 5px 1px white;
}
.containerMain .container-fluid a i {
  margin-right: 8px;
}

footer {
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
}
footer .containerFooter {
  padding-bottom: 20px;
}
footer .containerFooter h5 {
  text-decoration: underline;
}
footer .containerFooter .socialIcon ul li {
  display: inline-block;
  width: 1.2em;
  transition: all 0.2s ease-in-out;
}
footer .containerFooter .socialIcon ul li:hover {
  transform: scale(1.5);
  background: #c87c1a;
  background: linear-gradient(90deg, #c87c1a 0%, #8d5bfb 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=product.css.map */