header{
    background-color:#010302;  
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    align-items: center;

    #logo{
        width: 200px;
        padding-left: 30px;

    }

    .basket{
        padding-right: 30px;
    }
           
 
    .btnBasket:hover{
        box-shadow: 0 0 10px 1px  white;
    }


    a{
        color: white;
        text-decoration: none;       
        
            &:hover{
                color: white;
                text-decoration: none;                
                border: white;
}
    }
        
        
    
   

    
}

main{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   



}

footer{
    background-color:#010302;   
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    .about h4{


    }


}

















